@charset "UTF-8";

:root {
    --cor0: #5f2c82;
    --cor1: #49a09d;
}

@media screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to top, var(--cor1), var(--cor0));
    }

    section {
        width: 80vw;
    }

    #imagem, #formulario {
        display: inline-block;
    }

    #imagem {
        width: 30%;
        border-radius: 20px 0 0 20px;
        height: 280px;
        margin-bottom: -30px;
    }

    #formulario {
        width: 65%;
    }

    .login input{
        width: 90%;
    }
}

@media screen and (min-width: 992px) {
    section {
        width: 768px;
        height: 300px;
    }

    #imagem, #formulario {
        position: absolute;
    }

    #formulario {
        width: 45%;
        left: 0;
    }

    #formulario p {
        font-size: 0.9em;
    }

    #imagem {
        width: 50%;
        right: 0;
        border-radius: 0 20px 20px 0;
        height: 300px;
    }
}